.first{
    background-color: #858694;
    font-size: 6rem;
    text-align: end;
    color: white;
}
.second{
    display: flex;
    align-items: center;
}
.input1{
    width: 30rem;
    height: 7.1rem;
    text-align: center;
    font-size: 4rem;
    border-radius: 0%;
    border-color: black;
    font-weight: bold;
}
.input2{
    background-color:  #F5923E;
}
.zero{
    width: 60.5rem;
    height: 7.1rem;
    text-align: center;
    font-size: 4rem;
    border-radius: 0%;
    border-color: black;
    font-weight: bold;
}
.orange{
   background-color: #F5923E;
   width: 30rem;
   height: 7.1rem;
   text-align: center;
   font-size: 4rem;
   border-radius: 0%;
   border-color: black;
   font-weight: bold;
    
}